.plant-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.AddButton {
  padding: 10px;
  cursor: pointer;
  background-color: #2e7d32;
  margin: 0px 10px;
  font-size: 15px;
  color:#fff;
  border-radius:2px
}