.plant-image {
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.AddButton {
  padding: 10px;
  cursor: pointer;
  background-color: aliceblue;
  margin: 0px 10px;
  font-size: 15px;
}